body{
    background-color: rgb(27, 27, 27);
}

/*=========================================
   !!! Header !!!
==========================================*/

#header {
    background-color: #560e40f5;
    width: 100%;
    margin: 0;
    padding: 1.8em 2.0em;
    display: flex;
    box-sizing: inherit;
}

#header a.title {
    border: 0;
    color: #ffffff;
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: none;
}

#header a.title:hover {
    text-decoration: none;
}

nav {
    display: block;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    text-align: right;
}

#header nav ul {
    float: right;
    text-decoration: none;
    list-style-type: none;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1.75em;
    vertical-align: middle;
}

#header nav ul li a {
    border: 0;
    color: rgba(54, 192, 213, 0.675);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-decoration: none;
}

#header nav ul li a:hover {
    color: rgba(221, 221, 221, 0.973);
    text-decoration: none;
    transition: 1.5s;
}

#header nav ul li a.active {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#header{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

@media screen and (max-width: 736px) {

    #header {
        padding: 1em 2em;
    }

}

@media screen and (max-width: 480px) {

    #header {
        display: block;
        padding: 0 2em;
        height: 122px;
        text-align: left;
    }

    #header a.title {
        font-size: 1.4em;
        padding: 1em 0;
    }

    #header nav {
        border-top: solid 1px rgba(255, 255, 255, 0.15);
        text-align: inherit;
    }

    #header nav ul {
        float: left;
        margin-left: 0em;
        padding-left: 0;
    }

    #header nav ul li {
        display: inline-block;
        margin-right: 1.5em;
        margin-left: 0em;
        text-decoration: none;
        vertical-align: middle;
    }

    #header nav ul li a {
        height: 5em;
        line-height: 3em;
        font-size: 12px;
    }

    #header nav ul li a {
        text-decoration: none;
        color: rgba(209, 209, 209, 0.875);
    }

    #header nav ul li a.active {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

}

/*==================================================================
==================================================================*/

/*==================================================================
    !!!!Home/main pageeeee!!!!!
==================================================================*/

/*==================================================================
==================================================================*/


/*====================================
    text centeer
====================================*/

/*main text*/
    .nextOne{
    width: 80%;
    text-align: center;
    position: absolute;
    color: rgb(255, 255, 255); 
    font-weight: bold;
    top: 30%;
    left: 12%;
    }

    .nextOne p{
        width: 100%;
        font-size: 4.0rem;
    }

    .nextOne p a.title{
        color: #679699;
        text-decoration: none;
    }

    .nextOne p a.title:hover{
        color: #6affff;
        transition: 1s;
    }

    .nextOne span{
        font-size: 2.5rem;
    }

/*button*/
    .nextOne button{
        background-color: transparent;
        text-align: center;
        width: 10%;
        border-radius: 1vw;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0%;
        padding-top: 1%;
        border: none;
    }

    .nextOne button img{
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .nextOne button img:hover{
        content: url("/photos/arrow_blue.png");
        transition: 2s;
    }

    @media screen and (max-width: 1280px) {
        .nextOne span {
            font-size: 1.8rem;
        }

        .nextOne button {
            width: 12%;
        }
    }

    @media screen and (max-width: 1010px) {
        .nextOne p {
            font-size: 3.0rem;
        }

        .nextOne span {
            font-size: 1.4rem;
        }

        .nextOne button {
            width: 13%;
        }
    }

    @media screen and (max-width: 900px) {

        .nextOne {
            width: 90%;
            left: 5%;
            top: 25%;
        }

        .nextOne p {
            font-size: 3.2rem;
        }

        .nextOne span {
            font-size: 1.5rem;
        }

        .nextOne button {
            width: 14%;
        }
        
    }

    @media screen and (max-width: 740px) {

        .nextOne {
            width: 100%;
            top: 18%;
            left: 0%;
            margin: 0%;
            padding: 2%;
            background-color: #151515a2;
        }

        .nextOne p {
            font-size: 6.5vw;
        }

        .nextOne span {
            font-size: 3.0vw;
        }
    }

    @media screen and (max-width: 600px) {
        .nextOne button {
            width: 15%;
        }

        .nextOne {
            top: 14%;
        }
    }

    @media screen and (max-width: 500px) {
        .nextOne button {
            width: 16%;
        }
    }

    @media screen and (max-width: 400px) {
        .nextOne {
            top: 10%;
            left: 0%;
            background-color: #151515a2;
        }

        .nextOne p {
            font-size: 7.2vw;
        }

        .nextOne span {
            font-size: 3.3vw;
        }

        .nextOne button {
            width: 17%;
        }

    }
/*coursel item animation*/

.nextOne{
  animation-name:showwus;  
  animation-duration: 3s;
}

@keyframes showwus{
    from{opacity: 0;}    
}

/*============================================
   text space
============================================*/

.text_space{
    color: white;
    margin: 8% 20% 0% 20%;
    text-align: center;
}

.text_space div h2{
    font-size: 2.5rem;
    margin: 1% 10%;
    padding: 2%;
    border-bottom: 3px solid white;
    font-weight: bold;
    text-transform: uppercase;
}

.text_space div h5{
    padding: 2%;
    font-size:1.5rem;
    font-weight: lighter;
}

@media screen and (max-width: 1400px) {

    .text_space {
        margin: 5% 15% 0% 15%;
    }

    .text_space div h2 {
        font-size: 2.0rem;
    }

    .text_space div h5 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1100px) {

    .text_space div h2 {
        font-size: 2.8vw;
    }

    .text_space div h5 {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 900px) {

    .text_space {
        margin: 5% 5% 0% 5%;
    }

    .text_space div h2 {
        font-size: 1.7rem;
    }

    .text_space div h5 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 650px) {

    .text_space div h2 {
        font-size: 1.4rem;
    }

    .text_space div h5 {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 550px) {

    .text_space {
        margin: 5% 5% 0% 5%;
    }

    .text_space div h2 {
        font-size: 4.3vw;
    }

    .text_space div h5 {
        font-size: 3.3vw;
    }
}

@media screen and (max-width: 500px) {

    .text_space div h5 {
        font-size: 3.8vw;
    }
}

@media screen and (max-width: 400px) {

    .text_space {
        margin: 5% 3% 0% 3%;
    }

    .text_space div h2 {
        font-size: 4.5vw;
    }

    .text_space div h5 {
        font-size: 4.1vw;
    }
}

/*============================================
    gallery
============================================*/
.gallery{
    width: 100%;
    padding: 5% 3% 0% 5%;
    place-content: center;
}

.columns{
    width: 25%;
    display: block;
    margin: 0%;
    padding: 0%;
}

.columns img{
    width: 100%;
    padding: 1%;
}

#col1{
    margin-top: 2%;
}

#col3{
    margin-top: 1%;
}

#col4{
    margin-top: 4%;
}

@media screen and (max-width: 1200px) {
    .columns {
        width: 50%;
    }

    #col3 {
        margin-top: 0%;
    }

    #col4 {
        margin-top: 0%;
    }
}

@media screen and (max-width: 900px) {
    .gallery {
        padding: 5% 1% 0% 5%;
    }
}


@media screen and (max-width: 700px) {
    .columns {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .gallery {
        padding: 5% 0% 0% 5%;
    }
}

@media screen and (max-width: 400px) {
    .gallery {
        padding: 5% 0% 0% 6%;
    }
}

@media screen and (max-width: 400px) {
    .gallery {
        padding: 5% 0% 0% 7%;
    }
}

/*============================================
    3 texts
============================================*/

.texts{
    width: 90%;
    height: 35vw;
    margin: 8% 10% 8% 5%;
    color: white;
    display: flex;
}

.texts .col{
    opacity: 0;
    scale: 0.9;
    background-color: rgba(255, 255, 255, 0.158);
    animation: showmove;
    animation-timeline: view();
    animation-range-start: 5px;
    animation-range-end: 1500px;
}

.texts .col:hover{
    background-color: rgba(86, 71, 83, 0.704);
    transition: 0.5s;
}

.texts .col h3{
    color: #c97ab0;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 2%;
    margin: 0% 5% 4% 5%;
    border-bottom:2px solid #c97ab0;
    font-size: 1.9rem;
}


.texts .col p{
    font-size: 1.0rem;
    font-weight: lighter;
}


#div1 {
    width: 30%;
    animation-timing-function: ease-out;
}

#div2 {
    width: 30%;
    animation-timing-function: ease;
}

#div3 {
    width: 30%;
    animation-timing-function: linear;
}

@media screen and (max-width: 1450px) {
    .texts {
        height: 40vw;
    }

    .texts .col h3 {
        font-size: 1.6rem;
    }

    .texts .col p {
        font-size: 1rem;
    } 
}

@media screen and (max-width: 1300px) {
    .texts {
        height: 45vw;
    }

    .texts .col h3 {
        font-size: 1.5rem;
    }

    .texts {
        width: 95%;
        height: 35vw;
        margin: 8% 3%;
    }

}

@media screen and (max-width: 1200px) {
    .texts {
        height: 50vw;
    }

    .texts .col h3 {
        font-size: 1.5rem;
    }

    .texts .col p {
        font-size: 0.9rem;
    }

    #div1,
    #div2,
    #div3 {
        width: 32%;
    }
}

@media screen and (max-width: 1000px) {
    .texts {
        display: block;
        height: auto;
    }

    #div1, #div2, #div3{
        width: 95%;
        padding: 10%;
    }

    .texts .col h3 {
        font-size: 1.9rem;
    }

    .texts .col p {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 800px) {

    .texts .col h3 {
        font-size: 1.7rem;
    }

    .texts .col p {
        font-size: 1.0rem;
    }

}

@media screen and (max-width: 500px) {

    .texts .col h3 {
        font-size: 1.6rem;
    }

    .texts .col p {
        font-size: 0.9rem;
    }

}


@keyframes showmove {

    40%,100% {opacity: 1;}
    85% {scale: 1}
}

/*============================================
    autors
============================================*/

article.autors{
    background-color: #e7e7e7;
    padding: 4% 15%;
    color: rgb(0, 0, 0);
}

.tell_text{
    text-align: center;
    justify-content: center;
    width: 65%;
    margin: 0% 17% 5% 17%;
    padding: 4%;
      
}

.tell_text h2{
    font-size: 3.0rem;
    text-transform: uppercase;
    padding-bottom: 2%;
    border-bottom:3px solid #292929;
}

.tell_text h3 {
    padding-top: 2%;
    font-size: 1.5rem;
    font-weight: lighter;
}


@media screen and (max-width: 1300px) {
    article.autors {
        padding: 4% 10%;
    }

    .tell_text {
        width: 75%;
        margin: 0% 10% 5% 14%;
        padding: 4%;
    }
}

@media screen and (max-width: 1100px) {
    .tell_text h2 {
        font-size: 2.0rem;
    }

    .tell_text h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 900px) {
    .tell_text {
        width: 80%;
        margin: 0% 12% 5% 10%;
        padding: 4%;
    }
}

@media screen and (max-width: 800px) {
    .tell_text {
        width: 85%;
        margin: 0% 10% 5% 8%;
        padding: 4%;
    }

    .tell_text h2 {
        font-size: 1.7rem;
    }

    .tell_text h3 {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 500px) {
    .tell_text {
        width: 95%;
        margin: 0% 5% 5% 3%;
        padding: 4%;
    }

    .tell_text h2 {
        font-size: 1.5rem;
    }

    .tell_text h3 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 430px) {

    article.autors {
        padding: 4% 5%;
    }

    .tell_text {
        width: 100%;
        margin: 0% 3% 5% 0%;
        padding: 4%;
    }

    .tell_text h2 {
        font-size: 1.3rem;
    }

    .tell_text h3 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 380px) {
    article.autors {
        padding: 4% 2%;
    }
}



/*text with phot*/

.autors .row{
    margin: 1% 1% 8% 1%;
    width: 100%;
}

/*image*/
    .autors .row .col img{
        width: 100%;
        border-radius: 0.3vw;
    }

    @media screen and (max-width: 1600px) {
        .autors .row .col img {
            width: 600px;
        } 
    }

    @media screen and (max-width: 1400px) {
        .autors .row .col img {
            width: 550px;
        }
    }

    @media screen and (max-width: 1200px) {
        .autors .row .col img {
            width: 500px;
        }
    }

    @media screen and (max-width: 1000px) {
        .authors{
            display: block;
        }

        .autors .row .col img {
            width: 90%;
            margin: 0% 5%;
        }

        .auth1 {
            padding-bottom: 8%;
            border-bottom: 2px solid #560e40;
        }
    }


    @media screen and (max-width: 500px) {
        .auth1 {
            padding-bottom: 12%;
        }
    }
    

/*informations*/

    .autors .row .informations{
    padding: 3%;
    width: 100%;
    height: auto;
    text-align: left;
    }

    .autors .row .informations h6{
        color: rgb(120, 11, 86);
        font-weight: bold;
        font-size: 1.2rem;
    }

    .autors .row .informations h5{
        font-size: 2.2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .autors .row .informations p{
        font-size: 1.2rem;
        margin: 3% 0%;
    }

    @media screen and (max-width: 1600px) {
        .autors .row .informations {
            padding: 1.5%;
        }
    }

    @media screen and (max-width: 1400px) {
    .autors .row .informations h5 {
            font-size: 2.0rem;
        }
    
        .autors .row .informations p {
            font-size: 1.1rem;
        }
    }

    @media screen and (max-width: 1100px) {
        .autors .row .informations h5 {
            font-size: 1.6rem;
        }

        .autors .row .informations p {
            font-size: 1.0rem;
        }
    }

    @media screen and (max-width: 1000px) {
        .autors .row .informations{
            margin: 6% 4%;
            width: 90%;
        }
    }

    @media screen and (max-width: 800px) {
        .autors .row .informations h5 {
            font-size: 1.4rem;
        }

        .autors .row .informations p {
            font-size: 0.9rem;
        }

    }

    @media screen and (max-width: 400px) {
        .autors .row .informations h5 {
            font-size: 1.3rem;
        }

        .autors .row .informations p {
            font-size: 0.8rem;
        }
    }

    .autors .row .informations button{
        margin: 2% 0%;
        padding: 3% 10%;
        border-radius: 0.3vw;
        font-weight: 600;
        border: none;
        background-color: rgb(101, 12, 77);
        color: white;
        font-size: 1.2rem;
    }

    .autors .row .informations button:hover{
        background-color: rgb(187, 103, 164);
        color: rgb(0, 0, 0);
        transition: 0.5s;
    }

    @media screen and (max-width: 1000px) {
    .autors .row .informations button {
            margin: 1% 0%;
            padding: 2% 8%;
            border-radius: 0.5vw;
        }
    }

    @media screen and (max-width: 1000px) {
        .autors .row .informations button {
            font-size: 1.0rem;
        }
    }

/*==================================================================
==================================================================*/

/*==================================================================
    !!!!generic pageeeee!!!!!
==================================================================*/

/*==================================================================
==================================================================*/

.welc_img{ 
    background-color: #292929; 
}


.welc_img img{
    width: 100%;
    height: 100%;
}

/*==================================================================
    generic info
==================================================================*/

/*generic container*/

    #generic_container{
        background-color: #222222; 
        padding: 5% 0% 0% 0%;
    }

    @media only screen and (max-width: 768px) {
        #generic_container {
            padding: 0% 0% 5% 0%;
        }
    }

    @media only screen and (max-width: 500px) {
        #generic_container {
            padding: 0% 0% 2% 0%;
        }
    }

/*generic info*/

    .generic_info{
        color: rgb(224, 224, 224);
        margin: 5% 10%;
        font-weight: lighter;
        font-size: 1.4rem;
    }

    @media only screen and (max-width: 600px) {
        
        .generic_info {
            margin: 5% 5%;
        }

        .generic_info p {
            font-size: 1.1rem;
        }
    }

    @media only screen and (max-width: 450px) {
        .generic_info p {
            font-size: 1.0rem;
        }
    }

/*generic info H2*/

    .generic_info .row h2{
        border-bottom: 2px solid rgba(255, 255, 255, 0.436);
        width: 100%;
    }

    @media only screen and (max-width: 600px) {
        .generic_info .row h2 {
            font-size: 1.6rem;
            width: 95%;
            margin:0% 2%;
        }
    }

    @media only screen and (max-width: 478px) {
        .generic_info .row h2 {
            font-size: 1.3rem;
            width: 90%;
            margin: 0% 4%;
        }
    }

/*generic info num_2*/

    @media only screen and (max-width: 500px) {
        .num_2{
            margin: 5% 0%;
        }
    }


/*==================================================================
    Pharagraphs
==================================================================*/

/*pharagraphs*/

    .pharagraps{
        margin: 8% 0%;
        height: auto;
        width: 100%;
    }

    @media only screen and (max-width: 1600px) {
        .pharagraps {
            margin: 0%;
            padding: 0%;
        }
    }

    @media only screen and (max-width: 1000px) {
    
        .pharagraps {
            display: block;
        }

        .pharagraps .phar {
            margin: 10% 0%;
        }
    }


/*pharagraph _img and _text*/

    /*img*/
    .phar .phar_img{
        height: auto;
        overflow: hidden;
        height: 50%;
    }

    .phar .phar_img img{
        width: 100%;
        height: 100%;
    }

    /*text*/
    .phar .phar_text{
        height: 50%;
        background-color: #5c1e46;
        overflow: hidden;
    }

    @media only screen and (max-width: 1300px) {
        .phar .phar_img {
            height: 40%;
        }

        .phar .phar_text {
            height: 60%;
        }
    }

    @media only screen and (max-width: 1100px) {
        .phar .phar_img {
            height: 35%;
        }

        .phar .phar_text {
            height: 60%;
        }
    }

    @media only screen and (max-width: 1000px) {

        .phar .phar_img {
            height: 50%;
        }

        .phar .phar_text {
            height: 50%;
        }
    }

/*pharagraphs h3 and p*/

    .phar .phar_text h3{
        padding: 3% 0%;
        width: 90%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.436)
    }

    @media only screen and (max-width: 1600px) {
        .phar .phar_text h3 {
            padding: 0% 0% 5% 0%;
            font-size: 1.5rem;
            width: 100%;
        }
    
        .phar .phar_text p {
            font-size: 1.1rem;
        }
    }   

    @media only screen and (max-width: 600px) {
        .phar .phar_text h3 {
            font-size: 1.6rem;
        }

        .phar .phar_text p {
            font-size: 1.0rem;
        }
    }

    @media only screen and (max-width: 400px) {
        .phar .phar_text h3 {
            font-size: 1.5rem;
        }

        .phar .phar_text p {
            font-size: 1.0rem;
        }
    }

/*pharagraphs button*/

    .phar .phar_text button{
        background-color: #ffffff;
        font-weight: bold;
        border-radius: 0.3vw;
        border: none;
        padding: 2% 9%;
    }

    .phar .phar_text button:hover{
        background-color: rgb(241, 241, 241);
        color: rgb(31, 171, 210);
        transition: 0.5s;
    }

    @media only screen and (max-width: 1600px) {
        .phar .phar_text button {
            padding: 2% 9%;
            margin: 2% 0% 4% 0%;
            font-size: 1.3rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        .phar .phar_text button {
            font-size: 1.1rem;
        }
    }

    @media only screen and (max-width: 600px) {
        .phar .phar_text button {
            font-size: 1.0rem;
        }
    }

/*==================================================================
==================================================================*/

/*==================================================================
    !!!!Fotter!!!!!
==================================================================*/

/*==================================================================
==================================================================*/


/*============================================
    contact
============================================*/

/*Contact container*/

    #Contact {
        color: rgb(224, 224, 224);
        margin: 5%;
    }

    @media screen and (max-width: 1300px) {
        #Contact {
            margin: 3%;
        }
    }

    @media screen and (max-width: 450px) {
        #Contact {
            margin: 0%;
        }
    }

/*Contact h3 and p*/
    #Contact h3 {
        width: 60%;
        padding: 2%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.753);
        font-weight: bold;
    }

    #Contact p{
        font-weight: lighter;
        font-size: 1.2rem;
    }

    @media screen and (max-width: 1000px) {
        #Contact h3 {
            width: 35%;
        }
    }

    @media screen and (max-width: 700px) {
        #Contact p {
            font-size: 1.0rem;
        }
    }

    @media screen and (max-width: 550px) {
        #Contact h3 {
            width: 50%;
        }
    }

    @media screen and (max-width: 450px) {
        #Contact h3 {
            width: 70%;
            font-size: 1.2rem;
        }

        #Contact p {
            font-size: 0.9rem;
        }

    }


/*--col_one--*/
    #Contact .col_one p {
        padding: 2% 0%;
    }

    #Contact .col_one button {
        font-size: 1.2rem;
        font-weight: lighter;
        padding: 3% 10%;
        border-radius: 0.3vw;
        font-weight: bold;
    }

    #Contact .col_one button:hover {
        background-color: rgba(162, 23, 100, 0.484);
        color: white;
        transition: 0.5s;
    }

    @media screen and (max-width: 1200px){

        #Contact .col_one h3{
            width: 30%;
        }

        #Contact .col_one p {
            padding: 2% 5% 2% 0%;
        }

        #Contact .col_one button {
            padding: 1% 5%;
            font-size: 1.0rem;
        }
    }

    @media screen and (max-width: 768px) {
        #Contact .col_one{
            padding-bottom: 5%;
        }

        #Contact .col_one button {
            padding: 1.5% 6%;
            border-radius: 0.5vw;
        }
    }

    @media screen and (max-width: 550px) {
        #Contact .col_one {
            padding-bottom: 10%;
        }

        #Contact .col_one button {
            padding: 2% 8%;
            border-radius: 0.8vw;
        }

        #Contact .col_one h3 {
            width: 50%;
        }
    }

    @media screen and (max-width: 450px) {
        #Contact .col_one p {
            padding: 2% 1% 2% 0%;
        }

        #Contact .col_one button {
            padding: 1.5% 9%;
            border-radius: 0.6vw;
        }
    }

/*--col_two--*/

    #Contact .col_two .phrap {
        padding: 2% 0% 4% 0%;
    }

    @media screen and (max-width: 1000px) {
        #Contact .col_two p {
            padding: 1% 5% 1% 0%;
        }
    }

    @media screen and (max-width: 768px) {
        #Contact .col_two {
            padding-bottom: 5%;
        }
    }

    @media screen and (max-width: 550px) {
        #Contact .col_two {
            padding-bottom: 8%;
        }
    }

    @media screen and (max-width: 450px) {
        #Contact .col_two p {
            padding: 2% 1% 2% 0%;
        }
    }
    
/*--col_three--*/

    #Contact .col_three ul {
        list-style-type: none;
        margin: 0%;
        padding: 0%;
    }

    #Contact .col_three ul li {
        width: 100%;
        display: flex;
        text-align: left;
    }

    #Contact .col_three ul li h4 {
        width: 14%;
        padding: 2%;
    }

    #Contact .col_three ul li h4 img {
        width: 100%;
    }

    #Contact .col_three ul li a {
        width: 80%;
        height: auto;
        margin: 2%;
        color: white;
        text-decoration: none;
        font-weight: lighter;
        font-size: 1.3rem;
    }

    #Contact .col_three ul li a span:hover {
        color: rgb(167, 21, 143);
    }

    @media screen and (max-width: 1000px) {
        #Contact .col_three ul li h4 {
            width: 8%;
            padding: 1%;
        }

        #Contact .col_three ul li a {
            margin: 1%;
            font-size: 1.3rem;
        }
    }

    @media screen and (max-width: 768px) {
        #Contact .col_three {
            padding-bottom: 5%;
        }
    }

    @media screen and (max-width: 550px) {
        #Contact .col_three {
            padding-bottom: 8%;
        }

        #Contact .col_three ul li a {
            margin: 1%;
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 450px) {
        #Contact .col_three ul li a {
            margin: 2%;
            font-size: 1.0rem;
        }

        #Contact .col_three ul li h4 {
            width: 11%;
            padding: 1%;
        }
    }


/*============================================
    fotter
============================================*/
.fotter {
    background-color: rgb(27, 27, 27);
    margin: 0%;
    padding: 0% 3% 3% 3%;
    width: 100%;
    height: auto;
    color: rgb(151, 151, 151);
    text-align: center;
}

.fotter ul {
    list-style-type: none;
}

/*--icons--*/
.fotter ul li.icons {
    width: 100%;
    margin: 2% 0%;
}

.fotter ul li img.col {
    width: 3%;
    margin: 0.3%;
    border-radius: 2vw;
    opacity: 1;
}


@media screen and (max-width: 1300px) {
    .fotter ul li img.col {
        width: 4%;
    }
}

@media screen and (max-width: 1000px) {
    .fotter ul li img.col {
        width: 5%;
    }
}

@media screen and (max-width: 700px) {
    .fotter ul li img.col {
        width: 7%;
    }

    .fotter ul.menu {
        padding: 0%;
        margin: 0%;
    }

    .fotter ul li {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    .fotter ul li img.col {
        width: 9%;
    }

    .fotter ul li{
       font-size: 0.7rem; 
    }
}

@media screen and (max-width: 400px) {
    .fotter ul li img.col {
        width:10%;
    }
}


.fotter ul li img.col:hover {
    opacity: 0.8;
}

.fotter ul.menu li a {
    color: rgb(151, 151, 151);
    text-decoration: none;
}

.fotter ul.menu li a:hover {
    color: rgb(222, 37, 210);
    cursor: pointer;
    transition: 0.5s;
}