/*======================================================
    variables
======================================================*/


:root{
    --main: white;
    --gray:rgb(201, 201, 201);
    --opacity-gray:rgba(83, 82, 82, 0.5);
    --bg:linear-gradient(to right, rgb(248, 225, 255), rgb(198, 123, 163), rgb(165, 22, 111));
    --wrapper:rgb(246, 246, 246);
    --button:#a0a0a0;
    --text:rgb(0, 0, 0);
}

.dark-theme{
    --main: rgb(83, 43, 43);
    --gray: rgb(201, 201, 201);
    --opacity-gray: rgba(162, 162, 162, 0.3);
    --bg: linear-gradient(to right, rgb(0, 0, 0), rgb(125, 125, 125), rgb(27, 10, 27));
    --wrapper: rgb(77, 77, 76);
    --button: #868686;
    --text: rgb(255, 255, 255);

}

/*======================================================
    body
======================================================*/

body{
    background-image: var(--bg);
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-family: Apple Chancery, cursive;
}

body::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/*======================================================
 bookmarks
======================================================*/
div.bookmarks ul{
    display: flex;
    padding: 0;
    margin: auto auto auto 2vw;
}

div.bookmarks ul li.btn{
    text-decoration: none;
    list-style-type: none;
    border-radius: 1vw 1vw 0 0;
    margin-left: 1vw;
    padding: 1vw 2vw 0.5vw 2vw;
}

div.bookmarks ul li{
    padding: 1vw 2vw 2vw 2vw;
}

div.bookmarks ul li:hover {

}


/*======================================================
 content place
======================================================*/
div.notes{
   margin: auto 5vw auto 5vw; 
}

div.container{
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 3vw;
    margin-top: 5vw;
}

article.wrapper{
    background-color: var(--wrapper);
    color: var(--text);
    margin: 0%;
    padding: 6vw 3vw 2vw 7vw;
    border-radius: 1vw 1vw 1vw 1vw;
    height: auto;   
}

.text{
    margin-left: 5vw;
}

.title{
    margin-left: 2vw;
}

.text h1{
    font-size: 2.0em;
}

.text h3 {
    font-size: 1.5em;
}

.text img{
    width: 60vw;
    border: 20px solid black;
    margin: 1vw;
}

/*======================================================
    note
======================================================*/

div.note{
    margin-top: 2vw;
    margin-left: 6vw;
    margin-right: 5vw;
    width: 80%;
    background-color: rgb(230, 228, 230);
    border-radius: 1vw;
    text-align: center;
    transform: rotate(-1deg);
    display: flex;
}

div.note ul{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

div.note ul li{
    margin: 2vw;
    padding: 0%;
    list-style-type: none;
}

div.note p{
    text-decoration: underline 1.5px rgb(46, 194, 239);
    font-size: 1.5em;
    list-style-type: none;
}